.btn{
    color:white;
    border-color: #aaaaaa;
    border-width: 1px;
    border-style:solid;

}

#tickets{
    background-color: rgba(70, 235, 20, 0.733);
}

#oradores{
    line-height: 1pt;
}

.cartas{
    height: 50%;
}
